<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="accordian">Accordion</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="alert">Alert</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="buttons">Buttons</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="collapse">Collapse</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="datepicker">Datepicker</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="dropdown">Dropdown</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="pagination">pagination</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="popover">PopOver</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="progressbar">Progress</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="rating">Rating</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="table">Table</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="timepicker">TimePicker</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="toast">Toast</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="tooltip">Tooltip</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="typeahead">Typeahead</a>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
