.cust_title {
    color: #212529;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.bg-main {
    background-color: #F8F8F8;
    height: auto;
    margin-bottom: 30px;
}
.breadcrumb {
    padding: 18px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent !important;
    border-radius: 0px;
    text-align: left;
    margin-top: -27px;
    font-weight: 600;
    font-size: 15px;
}
.breadcrumb_link {
    color: #A7AFB7;
    text-decoration: none;
}
.breadcrumb_link:hover {
    color: #A7AFB7;
    text-decoration: none;
}
.breadcrumb>.active {
    color: #212529;
}
.breadcrumb>li+li:before {
    padding: 0px 8px !important;
    color: #A7AFB7 !important;
    content: "\002F" !important;
    margin-left: -8px;
}
.border-top {
    border-top: 2px solid #dee2e6 !important;
    margin-top: -25px;
}
.overview_card {
    box-shadow: 0px 0px 0px #5A71D01B;
    border: 1px solid #E4E4E4;
    height: auto;
    width: 100%;
    margin-top: 20px;    
    padding-bottom: 50px;
}
.card_title {
    color: #212529;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 25px;
}
.btn-status {
    border: 1px solid #87B515;
    color: #87B515;
    background-color: transparent;
    border-radius: 3px;
    padding: 2px 8px;
    cursor: auto;
}
.status_content {
    padding: 18px;
    margin-right: 20px;
}
.status_title {
    margin-right: 20px;
    color: #212529;
    font-weight: 600;
}
.title_row {
    margin-bottom: -20px;
}
.fa-user {
    display: inline-block;
    border-radius: 50px;
    background-color: #37AFFF;
    padding: 9px 12px;
    color: white;
    border: 2px solid #37AFFF;
    margin-left: 30px;
}
.icn_text {
    color: #212529;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 600;
}
.fa-exchange {
    display: inline-block;
    border-radius: 50px;
    background-color: #BB381D;
    padding: 9px 10px;
    color: white;
    border: 2px solid #BB381D;
    margin-left: 30px;
}
.fa-check-square-o {
    display: inline-block;
    border-radius: 50px;
    background-color: #87B515;
    padding: 9px 10px;
    color: white;
    border: 2px solid #87B515;
    margin-left: 30px;
}
.transfer_label {
    margin-left: 30px;
    color: #A8ACB9;
    font-size: 15px;
    margin-bottom: -15px;
    line-height: 40px;
}
.transfer_content {
    color: #212529;
    font-size: 15px;
    margin-bottom: -15px;
    line-height: 45px;
    font-weight: 600;
    margin-left: 10px;
}